@forward "./variables.scss" as var*;
@import "./variables.scss";
@import './reset';
@import '../components/artistList';
@import '../components/artistPage';
@import '../components/sideBar';
@import '../components/dashboard';
@import '../components/navbar';
@import '../components/app';
@import '../components/login';

html {
  font-family: $Poppins;
  font-size: 8px;
}

body {
  background-color: $bg;
  color: $light;
  font-size: 1.7rem;
}

button {
  @include btn($action, $light);
}

