@forward "./variables.scss" as var*;
@import "./variables.scss";

@import '../components/artistList';
@import '../components/artistPage';
@import './reset';
@import '../components/sideBar';
@import '../components/dashboard';
@import '../components/app';
@import '../components/login';
@import '../components/logout';

html {
  font-family: $Poppins;
  font-size: 10px;
}

body {
  background-color: $bg;
  color: $light;
  font-size: 1.7rem;
}

button {
  @include btn($action, $light);
}

