.artistInfo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0px;

  .artist-details {
    min-height: 20rem;
    font-size: 1.8rem;
    text-transform: capitalize;

    .artist-img {
      height: 290px;
      width: 290px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
    }

  }

  .artistTagList {

    .artistTag {
      @include tag;
      cursor: auto;

      i {
        padding-left: 5px;
        cursor: pointer;
      }
    }

  }
}

.album-container {
  @include itemContainer;

  padding-bottom: 0px !important;

  p {
    padding-bottom: 2px;
  }
}