.artist-container {
  h2 {
    text-align: left;
    font-weight: 500;
    padding: 0px 22px 22px 22px;
  }

  .artist-list {
    @include itemContainer;

    p {
      margin: 0px 20px;
    }

    .item:hover {
      transform: scale(1.02);
    }
  }
}

