.artist-container {
  h2 {
    text-align: left;
    font-weight: 500;
    padding: 22px;
  }

  .artist-list {
    @include itemGrid;

    p {
      text-align: left;
    }

    .item:hover {
      transform: scale(1.02);
    }
  }
}

