.logout {
  position: fixed;
  right: 0%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: $bg-opaque;
  z-index:2;

  button {
    z-index: 3;
    opacity: 1;
    margin: 2rem;
  }

  .navigate {
    background-color: $bg-dark;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 10px 15px !important;

    &:hover {
      transform: scale(1.05)
    }
  }

  #back-btn {
    margin-right: 0px;
  }

  #forward-btn {
    margin-right: 1110px;
    margin-left: 10px;
  }

  #user {
    background-color: $bg-dark;
    border-radius: 0px;

    span {
      text-transform: capitalize;
    }

    .user-dropdown-content {
      position:absolute;
      right: 20px;
      opacity: 0;
      background-color: $bg-dark;
      transform: translateY(-3rem);
      transition: 0.5s;
      height: 4.5rem;
      line-height: 4.5rem;
      width: 275px;

      a {
        text-decoration: none;
        color: $light;

        &:hover {
          color: $active;
        }
      }
    }

    &:hover, .user-dropdown-content:hover {

      .user-dropdown-content {
        opacity: 1;
        transform: translateY(1rem);
      }
    }

  }

}

.buffer {
  position: relative;
  visibility: hidden;
}