.logout {
  position: fixed;
  right: 30px;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: $bg-opaque;
  z-index:2;

  button {
    z-index: 3;
    opacity: 1;
    margin: 20px;
  }

  #user {
    background-color: $bg-dark;

    span {
      text-transform: capitalize;
    }
  }
}

.buffer {
  position: relative;
  visibility: hidden;
}