.sideBar {
  min-width: 350px;
  max-width: 350px;
  min-height: 100%;
  background-color: $bg-dark;
  border: 1px solid $bg-dark;
  position: fixed;
  z-index: 3;

  header {
    font-style: italic;

    img {
      width: 341px;
    }
  }

  .tagList-container {
    margin: 20px 20px;

    p {
      text-align: left;
      padding: 20px 0;
    }

    .tagList {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      background-color: $bg;
      padding: 8px 8px;
      border-radius: 5px;

      .tag {
        @include tag;

        &:hover {
          background:darken($active,5%);
          transition: all 0.3s ease;
        }
        &:active {
          background:darken($active,5%);
        }
      }

      .active {
        background-color: $active;
      }

      input, input:hover, input:active, input:focus {
        border: none;
        background-color: $bg;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.7rem;
        border-radius: $border-radius;
        padding: 2px 5px;
        color: $light;
        outline: none;
        min-width: 100px;
        font-family: $Poppins;
      }

      ::placeholder {
        color: $light;
        opacity: 1;
      }
    }
  }
}


.extra {
  position: relative;
  visibility: hidden;
}
